extends ../layout

block content
	h2.page-header 当前用户
		small &nbsp;&nbsp;&nbsp;
		=author.email

	if errors && errors.length
		div.errors
			each error in errors
				p.alert.alert-danger=error.msg

	form.vartical-form(method="post", action=action)

		div.form-group
			label(for="category") 修改密码
			input.form-control.input-lg(type="password", name="password",required="true", placeholder="请输入密码...")

		button.btn.btn-lg.btn-info(type="submit") 确认修改

block scripts
	script(src="/js/admin/user.js")
