extends ../layout

block content
	h2.page-header 分类列表
	table.table.table-bordered
		thead
			tr
				th 名称
				th 别名
				th 创建时间
				th 管理
		tbody
			each category in categories
				tr
					td=category.name
					td=category.slug
					td=moment(category.created).format('YYYY-MM-DD HH:mm:ss')
					td
						a(href="/posts//category/" + category.name, class="btn btn-sm btn-success") 查看
						&nbsp;&nbsp;
						a(href="/admin/categories/edit/" + category._id, class="btn btn-sm btn-info") 编辑
						&nbsp;&nbsp;
						a(href="javascript:;",_id=category._id,name=category.name, class="btn btn-sm btn-danger deleteCategory") 删除


	#deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4#myModalLabel.modal-title 提示
				.modal-body 
					#deleteMsg
				.modal-footer
					a.btn.btn-default(type='button', data-dismiss='modal') 关闭
					a.btn.btn-primary(id="sureDelete", type='button') 确定

block scripts
	script(src="/js/admin/category.js")
